.container {
  width: 100%;
  max-width: 1345.5px;
  margin: 0 auto;
  padding: 0 col-mobile(2);
}

.cols {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include breakpoint('small') {
	flex-direction: row;
  }
}

.col {
  width: 100%;
}

